<%- include("partials/header") %> 
    <!-- css -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/card.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Pokédex</h1>
        </header>

        <%- include("partials/nav") %> 


        <div class="card <%= info.types[0].type.name %>"> 
            <div class="card__header"> 
                <p> No.<%= info.id %> </p>
                <img src=" <%= info.sprite %> " alt=" <%= info.name %> ">
                <p class="card__header__name"> <%= _.startCase(info.name) %> </p>
                <ul class="card__header__types">
                    <% info.types.forEach(type => { %>
                        <li> <%= _.startCase(type.type.name) %> </li> 
                    <% }); %> 
                </ul>
            </div>
            <div class="card__stats">
                <% info.stats.forEach(stat => { %>
                    <div class="card__stats__stat">
                        <p class="stat__name"> <%= _.startCase(stat.stat.name) %> </p>
                        <div class="stat__bar__container">
                            <div class="stat__bar" style="width: <%= Math.min(stat.base_stat, 100) %>%"></div>
                        </div>
                        <p class="stat__value"> <%= stat.base_stat %> </p>
                    </div>
                <% }); %> 
            </div>
            <div class="card__appearance">
                <div class="card__appearance__height">
                    <small>Height</small>
                    <p> <%= info.height / 10 %>m | <%= (info.height / 10 * 3.2).toFixed(2) %>ft</p>
                </div>
                <div class="card__appearance__weight">
                    <small>Weight</small>
                    <p> <%= info.weight / 10 %>kg | <%= (info.weight /10 * 2.2).toFixed(2) %>lbs</p>
                </div>
            </div>
            <div class="card__abilities">
                <small>Abilities</small>
                <ul>
                    <% info.abilities.forEach(ability => { %>
                        <li class="abilities__ability"> <%= _.startCase(ability.ability.name) %> </li> 
                    <% }); %> 
                </ul>   
            </div>
        </div>
    </div>


<%- include("partials/footer") %> 